.alert {
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25),
    0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25),
    0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding: 10px;
}

.alert-info,
.alert-info a {
  background-color: #a6d4eb;
  color: #020088;
}

.info-proposta {
  list-style: outside none none;
  padding: 0;
}

.info-proposta li {
  margin-top: 5px;
}

#numCalculo {
  font-size: 24px;
}
