<div class="modal modal-fixed-footer" #modalPagamento style="max-width: 400px; max-height: 400px;">
    <div class="row" style="margin-top: 10px; margin-bottom: 0px;">
      <div class="title">Atenção!<a (click)="closeModal()"> <span aria-hidden="true">&times;</span> </a></div>
    </div>
    <div class="modal-content" style="overflow: hidden">
        <div class="row center-align" *ngIf="calculosInfo && calculoEPagamento">
            <div class="col s12">
              <div class="alert alert-info">
                <ul class="info-proposta text-center">
                  <li>Você está gerando proposta do cálculo número:</li>
                  <li id="numCalculo">{{ cotacao }}</li>
                  <li>
                    <strong>Produto: </strong>
                    <span id="opcaoAssistencia">{{ assistencia }}</span>
                  </li>
                  <li>
                    <strong>Total de Parcelas: </strong>
                    <span id="qtdParcelas">{{ calculoEPagamento.qtdParcela }}x {{ vlPremPar | currency:'BRL':'R$':'1.2-2':'pt'}}</span>
                  </li>
                  <li>
                    <strong>Valor total: </strong>
                    <span id="valorTotal">{{ vlPremTot | currency:'BRL':'R$':'1.2-2':'pt'}}</span>
                  </li>
                </ul>
              </div>
              <br>
              <div class="row center-align">
                <label>
                  <input type="checkbox" #ciente/>
                  <span>Estou ciente e de acordo.</span>
                </label>
              </div>
            </div>
            <br>
            <br>
          </div>
    </div>
    <div class="modal-footer">
      <button class="waves-effect waves-green btn-flat primary" (click)="salvarCalculo.emit(calculoEPagamento); closeModal()">
        <span class="hide-on-small-only">Selecionar </span> <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </button>
    </div>
  </div>
