<div class="modal" #modalCondicoesComerciais>
  <div class="row" style="margin-top: 10px; margin-bottom: 0px;">
    <div class="title">Condições Comerciais<a (click)="closeModal()"> <span aria-hidden="true">&times;</span> </a></div>
    <a (click)="json.openModal()" class="btn btn-flat"><fa-icon [icon]="['fas', 'code']"></fa-icon></a>
  </div>
  <div class="modal-content">
    <app-mensagens></app-mensagens>
    <form [formGroup]="formGroup" *ngIf="calculos">
      <fieldset>
        <legend>Remuneração</legend>
        <div class="row">
          <div class="input-field col s12 m6">
            <label for="pcComissao" class="active">Comissão</label>
            <input type="text" currencyMask [options]="{prefix: '', suffix: '%'}" class="form-control number" id="pcComissao" name="pcComissao" formControlName="pcComissao">
          </div>
          <div class="input-field col s12 m6">
            <label for="pcComissao" class="active">Pró-labore</label>
            <input type="text" currencyMask [options]="{prefix: '', suffix: '%'}" class="form-control number" id="pcProLabore" name="pcProLabore" formControlName="pcProLabore">
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Agravo/Desconto Comercial</legend>
        <div class="row">
          <div class="input-field col s12 m6">
            <label for="pcComissao" class="active">Desconto</label>
            <input type="text" currencyMask [options]="{prefix: '', suffix: '%'}" class="form-control number" id="pcDesconto" name="pcDesconto" formControlName="pcDesconto">
          </div>
          <div class="input-field col s12 m6">
            <label for="pcComissao" class="active">Agravo</label>
            <input type="text" currencyMask [options]="{prefix: '', suffix: '%'}" class="form-control number" id="pcAgravo" name="pcAgravo" formControlName="pcAgravo">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-green btn-flat primary" (click)="recalcular()">
      <span class="hide-on-small-only">Recalcular </span> <fa-icon [icon]="['fas', 'save']"></fa-icon>
    </button>
  </div>
</div>

<app-modal-json #json [rawJsons]="rawJson"></app-modal-json>
