<div class="title">Cadastro de Pretendentes a Garantido <a (click)="json.openModal()" class="btn btn-flat"><fa-icon [icon]="['fas', 'code']"></fa-icon></a></div>
<hr style="margin-top: 0" />
<div *ngIf="listaComplemento">
  <fieldset>
    <legend>Dados Locação</legend>
    <div class="row">
        <div class="col s12 right-align">
          <b>Preenchimento:</b> {{ listaComplemento.preenchimentoDadosLocacao }}
          <button class="btn btn-flat" matTooltipPosition="above" matTooltip="Editar Dados Locação" (click)="modalComplemento.openModal('Locacao', null)">
            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
          </button>
        </div>
      </div>
      <table class="striped highlight centered responsive-table">
          <thead>
            <tr>
              <th style="width: 45%; text-align: left;">Nome/Razão Social</th>
              <th>CPF/CNPJ</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dadoLocacao of listaComplemento?.dadosLocacao">
              <td style="text-align: left;">{{ dadoLocacao.nome }}</td>
              <td>{{ dadoLocacao.documento }}</td>
              <td>{{ dadoLocacao.tipo }}</td>
            </tr>
          </tbody>
        </table>
  </fieldset>
  <fieldset>
    <legend>Segurado</legend>
    <table class="striped highlight centered responsive-table">
      <thead>
        <tr>
          <th style="width: 45%; text-align: left;">Nome/Razão Social</th>
          <th>CPF/CNPJ</th>
          <th>Preenchimento</th>
          <th style="width: 6%">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left;">{{ listaComplemento?.segurado.nome }}</td>
          <td>{{ listaComplemento?.segurado.documento }}</td>
          <td>{{ listaComplemento?.segurado.preenchimento }}</td>
          <td>
            <button class="btn btn-flat" matTooltipPosition="above" matTooltip="Editar Dados do Segurado" (click)="modalComplemento.openModal('Segurado', null)">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Dados dos Garantidos</legend>
    <table class="striped highlight centered responsive-table">
        <thead>
          <tr>
            <th style="width:45%; text-align: left;">Nome/Razão Social</th>
            <th>CPF/CNPJ</th>
            <th>Preenchimento</th>
            <th>Pretendente Principal</th>
            <th style="width: 6%;">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let garantido of listaComplemento?.garantidos">
            <td style="text-align: left;">{{ garantido.nome }}</td>
            <td>{{ garantido.documento }}</td>
            <td>{{ garantido.preenchimento }}</td>
            <td>{{ garantido.pretendentePrincipal }}</td>
            <td>
              <button class="btn btn-flat" matTooltipPosition="above" matTooltip="Editar Dados do Garantido" (click)="modalComplemento.openModal(null, garantido.idGardo)">
                <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  </fieldset>
  <div class="row" style="margin-top: 20px;">
    <div class="col s12 right-align">
      <button class="btn btn-floating" (click)="confirmarProposta()">
        <fa-icon [icon]="['fas', 'caret-right']"></fa-icon>
      </button>
    </div>
  </div>
</div>

<app-modal-complemento #modalComplemento (carregarListaComplemento)="carregarListaComplemento($event)"></app-modal-complemento>

<app-modal-json #json [rawJsons]="rawJson"></app-modal-json>

