<div class="title">Dados Item <a (click)="json.openModal()" class="btn btn-flat"><fa-icon [icon]="['fas', 'code']"></fa-icon></a></div>
<hr style="margin-top: 0" />
<form [formGroup]=formGroup (ngSubmit)="salvar()">
  <app-formulario *ngIf="formularioAPreencher" [formulario]="formularioAPreencher.formulario" [formGroup]=formGroup></app-formulario>
  <div class="row" style="margin-top: 20px;">
    <div class="col s12 right-align">
      <button type="submit" class="btn btn-floating">
        <fa-icon [icon]="['fas', 'caret-right']"></fa-icon>
      </button>
    </div>
  </div>
</form>

<app-modal-json #json [rawJsons]="rawJson"></app-modal-json>

