<input #input type="text" [id]="'campo' + campo.codigo" [name]="'campo' + campo.codigo"
  class="form-control" [class.datepicker]="campo.tipo === 'data'" [mask]="mascara" [dropSpecialCharacters]="campo.tipo !== 'data'"
  *ngIf="campo.tipo !== 'moeda' && campo.tipo !== 'lista'" [formControl]="campoCtrl">

<!-- MOEDA -->
<input #input type="text" [id]="'campo' + campo.codigo" [name]="'campo' + campo.codigo"
  currencyMask [align]="'right'" class="form-control" *ngIf="campo.tipo === 'moeda'" [formControl]="campoCtrl">

<!-- SELECT -->
<mat-autocomplete [id]="'select' + campo.codigo" #auto="matAutocomplete">
  <mat-option *ngFor="let opcao of opcoes | async" [value]="opcao.descricao">{{opcao.descricao}}</mat-option>
</mat-autocomplete>
<input #input type="text" [id]="'campo' + campo.codigo" [name]="'campo' + campo.codigo" [matAutocomplete]="auto" [formControl]="campoCtrl" *ngIf="campo.tipo === 'lista'">

<label [for]="'campo' + campo.codigo" [class.active]="campoCtrl.value">{{campo.descricao}}</label>
