<div class="modal" #modalDocumentos>
  <div class="row" style="margin-top: 10px; margin-bottom: 0px;">
      <div class="title">Documentos Solicitados <a (click)="closeModal()"> <span aria-hidden="true">&times;</span> </a></div>
      <a (click)="json.openModal()" class="btn btn-flat"><fa-icon [icon]="['fas', 'code']"></fa-icon></a>
  </div>
  <div class="modal-content">
  <app-mensagens></app-mensagens>
  <fieldset *ngIf="pretendente">
      <legend>Dados dos Pretendentes</legend>
      <div class="row">
        <div class="col s7">
          <label>Nome/Razão Social</label>
          <div>{{ pretendente.nome }}</div>
        </div>
        <div class="col s3">
          <label>CPF/CNPJ</label>
          <div>{{ pretendente.documento }}</div>
        </div>
        <div class="col s2 center-align">
          <label>Pendência</label>
          <div matTooltipPosition="above" [matTooltip]="tooltipDocumento(pretendente.statusDocumento)">
            <fa-icon [icon]="statusDocumento(pretendente.statusDocumento)" size="lg" *ngIf="pretendente.statusDocumento"></fa-icon>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="fieldset-border">
      <legend class="legend-border">Documentos</legend>
      <table class="striped highlight centered responsive-table">
        <thead>
          <tr>
            <th style="width: 20%; text-align: left;">Documento</th>
            <th style="width: 20%;">Solicitado Em</th>
            <th style="width: 20%;">Anexado Em</th>
            <th style="width: 10%;">Status</th>
            <th style="width: 20%;">Arquivo</th>
            <th style="width: 10%">&nbsp;</th>
          </tr>
        </thead>
        <tbody *ngIf="listaDocumentos">
          <tr *ngFor="let documento of listaDocumentos.documentos">
            <td style="text-align: left;">{{ documento.dsDocto }}</td>
            <td>{{ documento.dtSolct }}</td>
            <td>{{ documento.dtIncls }}</td>
            <td>
              <div matTooltipPosition="above" [matTooltip]="tooltipDocumento(documento.cdStatus)">
                <fa-icon [icon]="statusDocumento(documento.cdStatus)" size="lg"></fa-icon>
              </div>
            </td>
            <td>
              {{ documento.nmArqv }}
              <div class="progress yellow" #loadElement style="display: none;">
                <div class="determinate green" style="width: 0%"></div>
              </div>
            </td>
            <td>
              <input #documentoInput type="file" hidden (change)="documentoAnexado(documento.idDocto, $event, loadElement)"/>
              <button class="btn btn-flat" matTooltipPosition="above" matTooltip="Anexar Documentos" (click)="documentoInput.click()" >
                <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
              </button>
              <button class="btn btn-flat" matTooltipPosition="above" matTooltip="Abrir Documento" *ngIf="documento.nmArqv" (click)="abrirDocumento(documento.idDocto, documento.nmArqv)">
                <fa-icon [icon]="['fas', 'eye']"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>

<app-modal-json #json [rawJsons]="rawJson"></app-modal-json>
