<div class="modal modal-fixed-footer" style="max-width: 800px;"  #modalComplemento>
  <div class="row" style="margin-top: 10px; margin-bottom: 0px;">
    <div class="title">Complemento {{ tpFormulario }}<a (click)="closeModal()"> <span aria-hidden="true">&times;</span> </a></div>
    <a (click)="json.openModal()" class="btn btn-flat"><fa-icon [icon]="['fas', 'code']"></fa-icon></a>
  </div>
  <div class="modal-content">
    <app-mensagens></app-mensagens>
    <form [formGroup]=formGroup style="margin-bottom: 50px;">
      <app-formulario [formulario]="formularioAPreencher.formulario" [formGroup]=formGroup *ngIf="formularioAPreencher"></app-formulario>
    </form>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-green btn-flat primary" (click)="salvar()">
      <span class="hide-on-small-only">Salvar </span> <fa-icon [icon]="['fas', 'caret-right']"></fa-icon>
    </button>
  </div>
</div>

  <app-modal-json #json [rawJsons]="rawJson"></app-modal-json>
