@import "~materialize-css/sass/components/color-variables";
@import "~materialize-css/sass/components/variables";

.modal {
  width: 900px;
  max-width: 900px;
}

@media #{$small-and-down} {
  .modal {
    width: auto;
  }
}
