<div class="container">
  <div class="app-loading">
    <div class="logotipo-tokio center-align">
      <img src="https://cdnpub.tokiomarine.com.br/portal_static/publico/padrao/4.1.0/images/ico/apple-touch-icon-72x72.png" title="Carregando dados do Servidor">
      <div>Carregando</div>
    </div>
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
</div>
