.box-calculo {
  background: url(/assets/imagens/box-bkg.png) no-repeat #fcfcfc;
  border: 1px solid #edecec;
  width: 100%;
  display: inline-block;
  color: #2d3e50;
  padding: 10px 0;
}

.nomeAssistecia {
  font-size: 1.2em;
  margin-top: 10px;
}

.btn-diferenciais,
.btn-franquias {
  margin-bottom: 0.5em;
}

.detalhes {
  margin: 0.5em 0 0;
  position: relative;
  top: -500px;
}

.valor-produto {
  font-size: 1.5em;
  color: #fcfcfc;
  border-radius: 29px 0;
  padding: 10px 0;
  margin-top: 15px;
  height: 65px;
  width: 100%;
  left: 0;
}
.valor-produto span {
  font-size: 0.6em;
}
.quantidade-parcelas {
  margin-bottom: 20px;
  display: inline-block;
}
.quantidade-parcelas span {
  font-size: 0.7em;
  font-weight: 700;
}
.quantidade-parcelas small {
  font-size: 0.5em;
  font-weight: 700;
  color: #999;
}
.remuneracao {
  border: 1px solid #edecec;
  left: 56%;
  margin-left: -90px;
  padding: 3px;
  width: 140px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #999;
}
.remuneracao span {
  font-weight: bold;
}
.em-debito {
  font-size: 0.4em !important;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 25px;
}
.a-vista {
  position: absolute;
  z-index: 5;
  right: 4em;
}
.highlights,
.diferenciais,
.franquias {
  padding: 0 20px 0 0;
  color: #999;
  margin: 0 0 20px 5px;
  font-size: 0.8em;
}
.highlights li .cor-tipo-sugestao {
  font-size: 18px;
}
.highlights li[class*="cor"] {
  cursor: pointer;
}
.highlights li[class*="cor"] i {
  display: none;
}
.highlights li,
.diferenciais li,
.franquias li {
  margin-top: 1em;
}
.highlights i,
.diferenciais i,
.franquias i {
  margin: -5px 0 0 25px;
  font-size: 1em;
}
.highlights span,
.diferenciais span,
.franquias span {
  display: flex;
  margin: -25px 0 0 25px;
}
.produto-escolhido .border-assistencia {
  border-color: #79838e;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 4px rgba(121, 131, 142, 0.6);
  transition: all 0.5s;
}
.produto-sugerido .border-assistencia {
  border-color: #117766;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 4px rgba(80, 184, 164, 0.6);
  transition: all 0.5s;
}

.produto-escolhido .cor-tipo-sugestao {
  color: #79838e;
}
.produto-sugerido .cor-tipo-sugestao {
  color: #006e6b;
}

.produto-escolhido .cor-bkg-tipo-sugestao {
  background: #79838e;
}
.produto-sugerido .cor-bkg-tipo-sugestao {
  background: #006e6b;
}

.produto-escolhido .cor-btn-tipo-sugestao {
  background: #79838e;
  color: #fff;
}
.produto-escolhido .cor-btn-tipo-sugestao:hover {
  background: #5d6268;
  color: #fff;
}

.produto-sugerido .cor-btn-tipo-sugestao {
  background: #006e6b;
  color: #fff;
}
.produto-sugerido .cor-btn-tipo-sugestao:hover {
  background: #429887;
  color: #fff;
}

.calculo-content-pages-detalhes .fa-times {
  color: red;
  font-size: 17px;
}
.calculo-content-pages-detalhes .fa-check {
  color: #006e6b;
  font-size: 17px;
}
.table-itens .fa-exclamation {
  color: red;
  font-size: 15px;
  position: relative;
  color: #006e6b;
  top: 1px;
  cursor: pointer;
  left: -10px;
}
.sugestao {
  cursor: pointer;
  background-color: #d0a520;
  border-radius: 19px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  height: 23px;
  left: 50%;
  line-height: 19px;
  margin-left: -50px;
  padding-top: 2px;
  position: absolute;
  top: -15px;
  width: 100px;
  z-index: 100;
}

.collapsible {
  border: none;
  box-shadow: none;
}

.collapsible-header {
  background-color: transparent;
  border: none;
  display: block;
  padding: 0.8rem;

}
