<div class="produto" [class.produto-sugerido]="assistencia.tpSugestao === 'S'" [class.produto-escolhido]="assistencia.tpSugestao !== 'S'">
  <div class="box-calculo text-center">
    <div class="col s12">
      <div class="titulo-produto cor-tipo-sugestao">
        <div class="nomeAssistecia">{{assistencia.opcaoAssistencia}}</div>
      </div>
      <div style="position: relative;">
        <span *ngIf="assistencia.tpSugestao === 'S'" class="sugestao text-center" ngbTooltip="Sugestão Tokio" placement="auto">Sugestão Tokio</span>
        <h2 class="valor-produto cor-bkg-tipo-sugestao">
          {{assistencia.sugestaoValorTotal | currency:'BRL':'R$':'1.2-2':'pt'}}
          <br>
          <span class="a-vista">à {{assistencia.descSugestaoPagto}}</span>
        </h2>
      </div>
      <div>
        <h4 style="position: relative" class="quantidade-parcelas cor-tipo-sugestao">
          <span>{{assistencia.sugestaoQtdParc}}x </span><small>{{assistencia.sugestaoJuros}} </small>
          <span>{{assistencia.sugestaoValorParc | currency:'BRL':'R$':'1.2-2':'pt'}}</span>
          <small class="em-debito">{{assistencia.descSugestaoCobranc}}</small>
        </h4>
      </div>
    </div>
    <div class="col s12 remuneracao text-center" *ngIf="condicoesComerciais.pcComissao || condicoesComerciais.pcProLabore ||
                                                        condicoesComerciais.pcDesconto || condicoesComerciais.pcAgravo">
      <div *ngIf="condicoesComerciais.pcComissao">REM:
        <span class="cor-tipo-sugestao"> {{ condicoesComerciais.pcComissao | number: '1.2-2' }} %</span>
      </div>
      <div *ngIf="condicoesComerciais.pcAgravo > 0">AGRAVO:
        <span class="cor-tipo-sugestao"> {{ condicoesComerciais.pcAgravo | number: '1.2-2' }} %</span>
      </div>
      <div *ngIf="condicoesComerciais.pcDesconto < 0">DESCONTO:
        <span class="cor-tipo-sugestao"> {{ (condicoesComerciais.pcDesconto * -1) | number: '1.2-2' }} %</span>
      </div>
      <div *ngIf="condicoesComerciais.pcProLabore">PRÓ LABORE:
        <span class="cor-tipo-sugestao"> {{ condicoesComerciais.pcProLabore | number: '1.2-2' }} %</span>
      </div>
    </div>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"> Diferenciais <fa-icon [icon]='["fas","angle-down"]'></fa-icon></div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s12 left-align diferenciais" *ngFor="let diferencial of assistencia.diferenciais">
              <fa-icon [icon]='["fas","check"]' class="cor-tipo-sugestao"></fa-icon>
              <strong>
                <span> {{ diferencial.descricao }}</span>
              </strong>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Franquias <fa-icon [icon]='["fas","angle-down"]'></fa-icon></div>
        <div class="collapsible-body">
          <div class="col s12 franquias left-align">
            <div *ngFor="let franquia of assistencia.coberturas">
              <div *ngIf="franquia.textoFranquia">
                <div class="cor-tipo-sugestao">
                  <fa-icon [icon]='["fas","chevron-right"]'></fa-icon>
                  <strong>
                    <span>{{franquia.descricao}}</span>
                  </strong>
                  <i class="franquia-valor">
                    <span>{{franquia.textoFranquia}}</span>
                  </i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="btn btn-contratar cor-btn-tipo-sugestao" (click)="selecionado.emit(assistencia)">
      <fa-icon [icon]='["fas","chevron-right"]'></fa-icon> Contratar
    </button>
    <!-- <div class="row" style="margin-bottom: 0">
      <div class="col s12 center-align">
          <p>
            <label>
              <input type="checkbox" class="filled-in" (change)="comparar.emit({check: $event.target.checked, tpSugestao: assistencia.tpSugestao})">
              <span>Detalhar / Comparar</span>
            </label>
          </p>
      </div>
    </div> -->
  </div>
</div>
