<div *ngFor="let tipo of chaves">
    <div [class]="'row alert alert-' + tipo" *ngIf="mensagens[tipo]">
      <div class="col s11">
        <div *ngFor="let mensagem of mensagens[tipo]" (click)="focarCampoComErro(mensagem)">
          {{ mensagem }}
        </div>
      </div>
      <div class="col s1 close-btn right-align">
        <a (click)="fechar(tipo)"> <span aria-hidden="true">&times;</span> </a>
      </div>
    </div>
  </div>
