.container {
  padding-top: 0;
  margin-top: 0.1rem;
}

.alert {
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding: 10px;
}

.alert .close-btn {
  cursor: pointer;
}

.alert-success, .alert-success a {
  background-color: #c2ddb7;
  color: #113800;
}

.alert-info, .alert-info a {
  background-color: #a6d4eb;
  color: #020088;
}

.alert-warning, .alert-warning a {
  background-color: #f8efbf;
  color: #806a00;
}

.alert-danger, .alert-danger a {
  background-color: #ffdddd;
  color: #962020;
}
