$primary-color: #00796b;
$secondary-color: #ffab00;

@import "~@angular/material/theming";
@include mat-core();
@import "~materialize-css/sass/materialize";

$tokio: (
  50: #e8ebee,
  100: #c6cdd4,
  200: #a0acb7,
  300: #7a8a9a,
  400: #5e7184,
  500: #008569,
  600: #008569,
  700: #32475b,
  800: #2a3d51,
  900: #1c2d3f,
  A100: #82baff,
  A200: #4f9eff,
  A400: #1c83ff,
  A700: #026f57,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$candy-app-primary: mat-palette($tokio);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);

@include angular-material-theme($candy-app-theme);

app-root {
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

main {
  flex: 1 0 auto;
}

.valign {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container.border {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 1px 5px rgb(130, 130, 130);
  background-color: white;
  margin-bottom: 50px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
}

.modal .title {
  text-align: center;
  font-size: 1.3rem;
}

.modal{
  overflow: hidden;
}

.modal .title a{
  position: absolute;
  margin-right: 10px;
  margin-top: 10px;
  top: 0;
  right: 0;
  cursor: pointer;
}

fieldset {
  border-color: lightgray;
  border-style: solid;
  margin-bottom: 10px;
}

// Reactive Form + Materialize Form
.ng-invalid.ng-touched:not(form) {
  @extend .invalid;
}

.cdk-overlay-container{
  z-index: 9999;
}

@media #{$small-and-down} {
  .nav-wrapper a {
    font-size: 1.5rem;
  }

  .container.border{
    width: 95%;
    padding: 5px;
    box-shadow: 0 1px 5px rgb(130, 130, 130);
    background-color: white;
  }

  .title {
    font-size: 1.2rem;
  }

  .modal .title {
    font-size: 1.0rem;
  }
}
