<div class="title">Cálculo <a (click)="json.openModal()" class="btn btn-flat"><fa-icon [icon]="['fas', 'code']"></fa-icon></a></div>
<hr style="margin-top: 0" />
<div class="row campanha">
  <div class="col s6">
    <div class="btn btn-floating" matTooltipPosition="above" matTooltip="Alterar Condições Comerciais" (click)="modalCondicoesComerciais.openModal()">
      <fa-icon [icon]='["fas","percent"]' size="lg"></fa-icon> Condições Comerciais
    </div>
  </div>
  <div class="col s6 right-align">
    <div class="btn btn-floating" (click)=imprimirCotacao() matTooltipPosition="above" matTooltip="Imprimir Cotação">
      <fa-icon [icon]='["fas","file-invoice-dollar"]' size="lg"></fa-icon>
    </div>
    <span>&nbsp;</span>
    <div class="btn btn-floating" (click)=imprimirParcer() matTooltipPosition="above" matTooltip="Imprimir Carta Parecer">
      <fa-icon [icon]='["fas","file-signature"]' size="lg"></fa-icon>
    </div>
    <span>&nbsp;</span>
    <div class="btn btn-floating" (click)=imprimirFicha() matTooltipPosition="above" matTooltip="Imprimir Ficha Cadastral">
      <fa-icon [icon]='["fas","file-alt"]' size="lg"></fa-icon>
    </div>
  </div>
</div>
<div class="row calculos center-align" *ngIf="calculos">
  <app-card-assistencia class="col s12 m4" *ngFor="let assistencia of assistencias"
    [assistencia]="assistencia" [condicoesComerciais]="condicoesComerciais" (selecionado)="modalPagamento.openModal($event)"></app-card-assistencia>
</div>

<app-modal-condicoes-comerciais #modalCondicoesComerciais [calculos]="calculos" (recalculo)="recalculo($event)"></app-modal-condicoes-comerciais>
<app-modal-pagamento #modalPagamento (salvarPagamento)="modalConfirmacao.openModal($event)"></app-modal-pagamento>
<app-modal-confirmacao #modalConfirmacao [calculosInfo]="calculos" (salvarCalculo)="salvarCalculo($event)"></app-modal-confirmacao>

<app-modal-json #json [rawJsons]="rawJson"></app-modal-json>
