<div class="col s12">
  <ul class="tabs" #tabs>
    <li class="tab"><a href="#nova-cotacao" class="active">Acessar Cotação</a></li>
    <li class="tab"><a href="#listar-cotacoes">Listar Cotações</a></li>
  </ul>
</div>
<div class="container border">
  <div id="nova-cotacao" class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="title">Nova Cotação</div>
        <hr style="margin-bottom: 10px;" />
        <form [formGroup]="novaCotacaoForm" (ngSubmit)="novaCotacao()">
          <div class="row">
            <div class="col s12 m6">
              <fieldset style="border: none;">
                <legend>Tipo Pessoa</legend>
                <p>
                  <label>
                    <input name="tpPessoa" type="radio" value="F" formControlName="tpPessoa"/>
                    <span>Pessoa Física</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="tpPessoa" type="radio" value="J" formControlName="tpPessoa"/>
                    <span>Pessoa Jurídica</span>
                  </label>
                </p>
              </fieldset>
            </div>
            <div class="col s12 m6">
              <fieldset style="border: none;">
                <legend>Tipo Imóvel</legend>
                <p>
                  <label>
                    <input name="icResidencial" type="radio" value="S" formControlName="icResidencial"/>
                    <span>Residencial</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="icResidencial" type="radio" value="N" formControlName="icResidencial"/>
                    <span>Não Residencial</span>
                  </label>
                </p>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="right-align col s12">
              <button type="submit" class="btn-floating waves-effect waves-light" [disabled]=!novaCotacaoForm.valid>
              <i class="material-icons right">add</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="title">Editar Cotação</div>
        <hr style="margin-bottom: 10px;" />
        <form [formGroup]="editarCotacaoForm" (ngSubmit)="editarCotacao()">
          <div class="row">
            <div class="input-field col s12 m4">
              <label for="sqCdCotac">Nr. Cotacão</label>
              <input type="text" mask="0*" class="form-control number" id="sqCdCotac" name="sqCdCotac" formControlName="sqCdCotac">
            </div>
          </div>
          <div class="row">
            <div class="right-align col s12">
              <button type="submit" class="btn-floating waves-effect waves-light" [disabled]=!editarCotacaoForm.valid>
                <i class="material-icons right">edit</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="listar-cotacoes" class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="title">Lista Cotações</div>
        <hr style="margin-bottom: 10px;" />
        <form [formGroup]="listarCotacoesForm" (ngSubmit)="pesquisarCotacoes()">
          <div class="row">
            <div class="input-field col s4">
              <label for="start" [class.active]="listarCotacoesForm.get('start').value">Data Inicial</label>
              <input type="text" mask="00/00/0000" [dropSpecialCharacters]="true" class="form-control datepicker" id="start" name="start" formControlName="start" value="05/08/2019">
            </div>
            <div class="input-field col s4">
              <label for="end" [class.active]="listarCotacoesForm.get('end').value">Data Final</label>
              <input type="text" mask="00/00/0000" [dropSpecialCharacters]="true" class="form-control datepicker" id="end" name="end" formControlName="end">
            </div>
            <div class="input-field col s4">
              <select id="size" name="size" formControlName="size" #size>
                <option value="5" selected>5 Cotações</option>
                <option value="10">10 Cotações</option>
                <option value="15">15 Cotações</option>
                <option value="20">20 Cotações</option>
              </select>
              <label for="size">Cotações por Página</label>
            </div>
            <div class="right-align col s12">
              <button type="submit" class="btn-floating waves-effect waves-light" [disabled]=!listarCotacoesForm.valid matTooltip="Listar Cotações" matTooltipPosition="above">
                <i class="material-icons right">search</i>
              </button>
            </div>
          </div>
          <div *ngIf="listaCotacoes?.content">
            <table datatable class="striped highlight centered responsive-table">
                <thead>
                  <tr>
                    <th>Cotação</th>
                    <th class="d-none d-sm-block">Negócio</th>
                    <th>Situacao</th>
                    <th>Data Cálculo</th>
                    <th class="d-none d-sm-block">Expira em</th>
                    <th style="width:20%;">Ações</th>
                  </tr>
                </thead>
                <tbody *ngIf="listaCotacoes?.content?.length == 0">
                  <tr>
                    <td colspan="6" class="no-data-available">Nenhuma Cotação Encontrada</td>
                  </tr>
                </tbody>
                <tbody *ngIf="listaCotacoes?.content?.length != 0">
                  <tr *ngFor="let cotacaoInfo of listaCotacoes?.content">
                    <td>{{cotacaoInfo.sqCdCotac}}</td>
                    <td class="hide-on-small-only">{{cotacaoInfo.cdNgocoRsvdo}}</td>
                    <td>{{cotacaoInfo.cdSitucCotac}}</td>
                    <td>{{cotacaoInfo.dtPrmroCallo}}</td>
                    <td class="hide-on-small-only">{{cotacaoInfo.dtVldad ? cotacaoInfo.dtVldad : "-"}}</td>
                    <td>
                      <button class="btn btn-flat" (click)="editarCotacaoForm.get('sqCdCotac').setValue(cotacaoInfo.sqCdCotac); editarCotacao()"
                      [matTooltip]="cotacaoInfo.cdSitucCotac === 'TRA' ? 'Visualizar Contratação' : 'Editar Cotação'" matTooltipPosition="above">
                        <fa-icon [icon]='["fas","pencil-alt"]' *ngIf="cotacaoInfo.cdSitucCotac !== 'TRA'"></fa-icon>
                        <fa-icon [icon]='["fas","eye"]' *ngIf="cotacaoInfo.cdSitucCotac === 'TRA'"></fa-icon>
                      </button>
                      <button class="btn btn-flat" (click)="apoliceCompleta(cotacaoInfo.sqCdCotac)" matTooltip="Apólice Completa" matTooltipPosition="above" *ngIf="cotacaoInfo.cdSitucCotac === 'TRA'">
                        <fa-icon [icon]='["fas","file-invoice"]' ></fa-icon>
                      </button>
                      <button class="btn btn-flat" (click)="apoliceResumida(cotacaoInfo.sqCdCotac)" matTooltip="Apólice Resumida" matTooltipPosition="above" *ngIf="cotacaoInfo.cdSitucCotac === 'TRA'">
                        <fa-icon [icon]='["fas","file-alt"]' ></fa-icon>
                      </button>
                      <button class="btn btn-flat" (click)="cartaoSegurado(cotacaoInfo.sqCdCotac)"  matTooltip="Cartão Segurado" matTooltipPosition="above" *ngIf="cotacaoInfo.cdSitucCotac === 'TRA'">
                        <fa-icon [icon]='["fas","id-card"]' ></fa-icon>
                      </button>
                      <button class="btn btn-flat" (click)="cartaoGarantido(cotacaoInfo.sqCdCotac)" matTooltip="Cartão Garantido" matTooltipPosition="above" *ngIf="cotacaoInfo.cdSitucCotac === 'TRA'">
                        <fa-icon [icon]='["fas","address-card"]' ></fa-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ul class="pagination right-align">
                <li [class.disabled]="listaCotacoes.first"><a><i class="material-icons">chevron_left</i></a></li>
                <li class="waves-effect" [class.active]="i.active" *ngFor="let i of totalPaginas">
                  <a (click)="listarCotacoes(i.page)">{{i.page + 1}}</a>
                </li>
                <li [class.disabled]="listaCotacoes.last" class="waves-effect"><a (click)="listarCotacoes(listaCotacoes.number + 1)"><i class="material-icons">chevron_right</i></a></li>
              </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
