<div *ngFor="let agrupamento of agrupamentos">
  <fieldset *ngIf="contemCamposVisiveis(agrupamento)">
    <legend>
      {{agrupamento.descricao}}
    </legend>
    <div class="row">
        <app-campo *ngFor="let campo of campos(agrupamento)" [ngClass]="class(campo.codigo)" [formGroup]="formGroup"
          [campo]=campo (carregaDependentes)="carregaDependentes($event)"></app-campo>
    </div>
  </fieldset>
</div>
