<div class="center-align" style="width: 100%">
  <div class="row cotacao hide-on-med-and-down">
    <div class="btn white col s2">
      <label>Situação:</label>
      <span id="situacao"> {{ situacao }}</span>
    </div>
    <div class="btn white col s2">
      <label>Negócio: </label>
      <span id="cdNgocoRsvdo"> {{ cdNgocoRsvdo }}</span>
    </div>
    <div class="btn white col s2">
      <label>Cotação: </label> <span id="cdCotac"> {{ sqCdCotac }}</span>
    </div>
    <div class="btn white col s3">
      <label>Calculado em: </label>
      <span id="dtPrmroCallo"> {{ dtPrmroCallo }}</span>
    </div>
    <div class="btn white col s3">
      <label>Expira em: </label> <span id="dtVldad"> {{ dtVldad }}</span>
    </div>
  </div>
  <div class="row cotacao hide-on-large-only">
    <div class="btn white col s6">
      <span id="situacao"> {{ situacao }}</span>
    </div>
    <div class="btn white col s6">
      <span id="cdCotac"> {{ sqCdCotac }}</span>
    </div>
  </div>
</div>
<div class="abas">
  <div class="row hide-on-med-and-down" style="padding-top: 10px;">
    <div *ngFor="let aba of abas" class="col s2 ">
      <a [routerLink]="rota(aba.rota) + '/' + sqCdCotac"
        [class.ativo]="ativo(aba.id)"
        [class.disabled]="!ativo(aba.id)">
        <div class="row">
          <div class="col-12">
            <span class="abas-number">{{ aba.id }}</span>
          </div>
          <div class="col-12">
              <span class="abas-name">{{ aba.descricao }}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row hide-on-large-only" style="padding-top: 10px;">
    <div *ngFor="let aba of abasMobile" class="col" [class.s4]="abasMobile.length === 3" [class.s6]="abasMobile.length === 2">
        <a [routerLink]="rota(aba.rota) + '/' + sqCdCotac" [class.ativo]="ativo(aba.id)" [class.disabled]="!ativo(aba.id)">
          <span class="abas-name">{{ aba.descricao }}</span>
        </a>
      </div>
  </div>
  <div class="row">
      <span [style.width]="barSize(false) + '%'" class="bar hide-on-med-and-down"></span>
      <span [style.width]="barSize(true) + '%'" class="bar hide-on-large-only"></span>
  </div>
</div>
<div class="container border">
  <app-mensagens></app-mensagens>
  <router-outlet></router-outlet>
</div>

