.cotacao .btn {
  border: none;
  box-shadow: none;
}

.btn span {
  color: black;
}

.row {
  margin-bottom: 0;
}

.abas a{
  color: #c0bebe;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.abas a.disabled{
  pointer-events: none;
  cursor: default;
}

.abas a:hover{
  color: #0d5046;
  text-decoration: none;
}

.abas a:focus{
  color: #0d5046;
  text-decoration: none;
}

.abas a.ativo{
  color: #0d5046;
}

.abas a.ativo .abas-number{
  color: #0d5046;
  border: 3px solid #0d5046;
}

.abas-number{
  border: 3px solid #c0bebe;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  padding-top: 1px;
}

.abas-name{
  margin-top: 1rem;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.bar{
  background: #daae5d;
  bottom: 0;
  display: inline-block;
  height: 4px;
  transition: 2s;
}
