<div *ngIf="!formularioCoberturas">
  <div class="title">Dados Item <a (click)="json.openModal()" class="btn btn-flat"><fa-icon [icon]="['fas', 'code']"></fa-icon></a></div>
  <hr style="margin-top: 0" />
  <form [formGroup]=formGroup (ngSubmit)="obterCoberturas()">
    <app-formulario *ngIf="formularioLocacao" [formulario]="formularioLocacao.formulario" [formGroup]=formGroup></app-formulario>
    <div class="row" style="margin-top: 20px;">
      <div class="col s12 right-align">
        <button type="submit" class="btn btn-floating">
          <fa-icon [icon]="['fas', 'caret-right']"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="formularioCoberturas?.coberturas?.length > 0">
  <div class="title">Coberturas <a (click)="json.openModal()" class="btn btn-flat"><fa-icon [icon]="['fas', 'code']"></fa-icon></a></div>
  <hr style="margin-top: 0" />
  <form [formGroup]=formGroupCoberturas (ngSubmit)="salvar()">
    <fieldset>
        <legend>
          Coberturas do Seguro
        </legend>
        <div class="row">
          <div class="input-field col s12 m3" *ngFor="let cobertura of coberturas">
            <label [for]="cobertura.codigo" class="active">{{ cobertura.descricao }}</label>
            <input type="text" currencyMask class="form-control" [id]="cobertura.codigo" name="cobertura.codigo" [formControlName]="cobertura.codigo">
          </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>
          Coberturas Adicionais
        </legend>
        <div class="row">
          <div *ngFor="let cobertura of coberturasAdicionais" class="col s6 m3">
            <label>{{ cobertura.descricao }}</label>
            <div class="switch">
              <label>
                {{cobertura.caracteristica.valores[0].descricao}}
                <input type="checkbox" [id]="cobertura.codigo" name="cobertura.codigo" [formControlName]="cobertura.codigo">
                <span class="lever"></span>
                {{cobertura.caracteristica.valores[1].descricao}}
              </label>
            </div>
          </div>
        </div>
    </fieldset>
    <div class="row" style="margin-top: 20px;">
      <div class="col s12 right-align">
        <button type="submit" class="btn btn-floating">
          <fa-icon [icon]="['fas', 'caret-right']"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>

<app-modal-json #json [rawJsons]="rawJson"></app-modal-json>
