<div class="modal container" style="overflow: auto;" #modalJson>
  <div class="row" style="margin-top: 10px; margin-bottom: 0px;">
    <div class="title">Json's API<a (click)="closeModal()"> <span aria-hidden="true">&times;</span> </a></div>
  </div>
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <ul class="tabs" #tabs>
          <li class="tab"><a href="#entrada">Formulário</a></li>
          <li class="tab" [class.disabled]="(!rawJsons || !rawJsons[1])"><a href="#saida">Resposta Formulário</a></li>
        </ul>
        <div id="entrada" class="col s12" *ngIf="rawJsons">
          <pre>{{ rawJsons[0] | json }}</pre>
        </div>
        <div id="saida" class="col s12" *ngIf="rawJsons">
            <pre>{{ rawJsons[1] | json }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
