<div class="modal modal-fixed-footer" #modalPagamento style="max-width: 500px;">
  <div class="row" style="margin-top: 10px; margin-bottom: 0px;">
    <div class="title">Forma de Pagamento<a (click)="closeModal()"> <span aria-hidden="true">&times;</span> </a></div>
  </div>
  <div class="modal-content">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          <strong style="font-size:13px">Opção Escolhida: </strong> {{assistencia?.opcaoAssistencia}}
        </div>
      </div>
    </div>
    <form [formGroup]="formGroup">
      <div class="row">
        <div class="input-field col s12 m6">
            <label for="codFormaCobranca" class="active">Forma de cobrança:</label>
            <select id="codFormaCobranca" name="codFormaCobranca" formControlName="codFormaCobranca">
              <option value="D" *ngIf="assistencia?.opcoesPagamento.debito">Débito</option>
              <option value="F" *ngIf="assistencia?.opcoesPagamento.ficha">Ficha</option>
              <option value="C" *ngIf="assistencia?.opcoesPagamento.credito">Cartão de crédito</option>
              <option value="T" *ngIf="assistencia?.opcoesPagamento.faturado">Faturado</option>
            </select>
        </div>
        <div class="input-field col s12 m6">
          <label for="codFormaPagamento" class="active">Forma de pagamento:</label>
          <select id="codFormaPagamento" name="codFormaPagamento" formControlName="codFormaPagamento">
            <option value="V" *ngIf="cobrancaSelecionada?.vista">À Vista</option>
            <option value="P" *ngIf="cobrancaSelecionada?.prazo">À Prazo</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <table class="striped highlight responsive-table">
            <thead>
              <tr>
                <th>Parcelas</th>
                <th>% Juros</th>
                <th>Parcela R$</th>
                <th>Total R$</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let parcela of parcelas">
                <td>
                  <label>
                    <input type="radio" id="qtdParcela" name="qtdParcela" formGroupName="qtdParcela" [value]="parcela.qtd" />
                    <span>{{parcela.qtd}}</span>
                  </label>
                </td>
                <td>{{parcela.pcJur && parcela.pcJur !== 0 ? (parcela.pcJur | percent:'1.2-2':'pt') : 'Sem Juros'}}</td>
                <td>{{parcela.vlPremPar | currency:'BRL':'':'1.2-2':'pt'}}</td>
                <td>{{parcela.vlPremTot | currency:'BRL':'':'1.2-2':'pt'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-green btn-flat primary" (click)="salvarPagamento.emit(formGroup.value); closeModal()">
      <span class="hide-on-small-only">Confirmar </span> <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </button>
  </div>
</div>
