.page-footer {
  padding-top: 0;
}

footer a {
  background-color: #fff;
  border-radius: 6px;
  color: #ccc;
  padding: 6px;
  display: inline-block;
  margin: 2px;
  text-align: center;
  width: 35px;
}

a:hover ::ng-deep fa-icon {
  color: white;
}

.facebook:hover {
  background-color: #415e9c;
}

.twitter:hover {
  background-color: #1da1f2;
}

.linkedin:hover {
  background-color: #0077b5;
}

.youtube:hover {
  background-color: #ff0000;
}
