<header>
  <nav>
    <div class="nav-wrapper">
      <div class="hide-on-med-and-up">
        <a class="brand-logo center">
          TM Aluguel
        </a>
      </div>
      <div class="hide-on-small-only">
        <a class="brand-logo center">
          Tokio Marine Aluguel
        </a>
      </div>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger" *ngIf="isLogado"><i class="material-icons">menu</i></a>
      <ul id="nav" class="right hide-on-med-and-down" *ngIf="isLogado">
        <li routerLinkActive="active"><a [routerLink]="'home'">Home</a></li>
        <li><a href="#" (click)="logOut()">Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul id="nav-mobile" class="sidenav">
    <li><a [routerLink]="'home'">Home</a></li>
    <li><a href="#" (click)="logOut()">Logout</a></li>
  </ul>

</header>
<main>
  <block-ui [template]="blockTemplate">
    <router-outlet></router-outlet>
  </block-ui>
</main>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container" style="width: 100%">
      <div class="row" style="margin-bottom: 0;">
        <div class="col l4 hide-on-med-and-down"></div>
        <div class="center col s12 m6 l4">
          <strong>Tokio Marine Seguradora</strong>
          <div *ngIf="isLogado">{{ corretor }}</div>
        </div>
        <div class="col s6 m6 l4 right-align hide-on-small-only">
          <div class="social">
            <div>Siga-nos
              <a class="facebook" target="_blank" href="https://www.facebook.com/TokioMarineSeguradora">
                <fa-icon [icon]="['fab', 'facebook-f']" size="sm"></fa-icon>
              </a>
              <a class="twitter" target="_blank" href="https://twitter.com/tokiomarine_cor">
                <fa-icon [icon]="['fab', 'twitter']" size="sm"></fa-icon>
              </a>
              <a class="linkedin" target="_blank" href="https://br.linkedin.com/company/tokio-marine-seguradora-s-a">
                <fa-icon [icon]="['fab', 'linkedin-in']" size="sm"></fa-icon>
              </a>
              <a class="youtube" target="_blank" href="https://www.youtube.com/user/tokiomarinecor">
                <fa-icon [icon]="['fab', 'youtube']" size="sm"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
