<div class="title">Cadastro de Pretendentes a Garantido <a (click)="json.openModal()" class="btn btn-flat"><fa-icon [icon]="['fas', 'code']"></fa-icon></a></div>
<hr style="margin-top: 0" />
<div *ngIf="dadosEmpresa || pretendentes">
  <fieldset *ngIf="dadosEmpresa">
    <legend class="legend-border">Dados da Empresa</legend>
    <table class="striped highlight responsive-table">
      <thead>
        <tr>
          <th style="width: 30%; text-align: left;">Razão Social</th>
          <th style="width: 20%">CNPJ</th>
          <th style="width: 15%">Data de Fundação</th>
          <th>Preenchimento</th>
          <th>Documentos</th>
          <th style="width: 15%">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: left;">{{ dadosEmpresa.nome }}</td>
          <td>{{ dadosEmpresa.documento }}</td>
          <td>--/--/----</td>
          <td>{{ dadosEmpresa.status }}</td>
          <td>
            <fa-icon [icon]="statusDocumento(dadosEmpresa.statusDocumento)" size="lg"
              matTooltip="tooltipDocumento(dadosEmpresa.statusDocumento)" matTooltipPosition="above" *ngIf="dadosEmpresa.statusDocumento">
            </fa-icon>
          </td>
          <td>
            <button class="btn" matTooltipPosition="above" matTooltip="Editar" (click)="modalPretendente.openModal(dadosEmpresa.idPretendente)">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
            <button class="btn" matTooltipPosition="above" matTooltip="Anexar Documentos" (click)="modalDocumentos.openModal(dadosEmpresa)" *ngIf="dadosEmpresa.statusDocumento">
              <fa-icon [icon]="['fas', 'paperclip']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <fieldset class="fieldset-border" *ngIf="!dadosEmpresa || dadosEmpresa.idPretendente">
    <legend class="legend-border">Dados dos Pretendentes</legend>
    <div class="row align-right" style="margin-bottom: 0;">
      <div class="col s8">
        <button class="btn btn-floating" (click)="solicitarCAD()" matTooltipPosition="above" matTooltip="Solicitar Preenchimento pelo Pretendente" *ngIf="solicitaCAD">
          <fa-icon [icon]="['fas', 'user-edit']"></fa-icon>
        </button>
        <button class="btn btn-floating" (click)="reenviarCAD()" matTooltipPosition="above" matTooltip="Reenviar Solicitação de Preenchimento" *ngIf="cancelaCAD" >
          <fa-icon [icon]="['fas', 'user-edit']"></fa-icon>
        </button>
        <span>&nbsp;</span>
        <button class="btn btn-floating" (click)="cancelarCAD()" matTooltipPosition="above" matTooltip="Cancelar Solicitação de Preenchimento" *ngIf="cancelaCAD">
          <fa-icon [icon]="['fas', 'user-times']"></fa-icon>
        </button>
      </div>
      <div class="col s4 right-align">
        <button class="btn btn-floating" (click)="modalPretendente.openModal(0)" matTooltip="Adicionar pretendente" matTooltipPosition="above">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon> Novo Pretendente
        </button>
      </div>
    </div>
    <div class="row" *ngIf="!(pretendentes?.length > 0)">
      <div class="col s12 center-align" >
        Nenhum pretendente adicionado.
      </div>
    </div>
    <table class="striped highlight centered responsive-table">
      <thead *ngIf="pretendentes?.length > 0">
        <tr>
          <th style="width:30%; text-align: left;">Nome</th>
          <th style="width:15%;">CPF/CNPJ</th>
          <th>Responderá financeiramente</th>
          <th>Pretendente Principal</th>
          <th>Preenchimento</th>
          <th>Documentos</th>
          <th style="width: 17%;">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pretendente of pretendentes">
          <td style="text-align: left;">{{ pretendente.nome }}</td>
          <td>{{ pretendente.documento }}</td>
          <td>{{ pretendente.responderaFinanceiramente }}</td>
          <td>{{ pretendente.principal }}</td>
          <td>{{ pretendente.status }}</td>
          <td>
            <div matTooltipPosition="above" [matTooltip]="tooltipDocumento(pretendente.statusDocumento)">
              <fa-icon [icon]="statusDocumento(pretendente.statusDocumento)" size="lg" *ngIf="pretendente.statusDocumento"></fa-icon>
            </div>
          </td>
          <td>
            <button class="btn btn-flat" matTooltipPosition="above" matTooltip="Editar" (click)="modalPretendente.openModal(pretendente.idPretendente)">
              <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon>
            </button>
            <button class="btn btn-flat" matTooltipPosition="above" matTooltip="Anexar Documentos" (click)="modalDocumentos.openModal(pretendente)" *ngIf="pretendente.statusDocumento">
              <fa-icon [icon]="['fas', 'paperclip']"></fa-icon>
            </button>
            <button class="btn btn-flat" matTooltipPosition="above" matTooltip="Excluir" (click)="excluir(pretendente.idPretendente)">
              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <br />
  <div class="row" style="margin-top: 20px;">
    <div class="col s12 right-align">
      <button (click)="validaPretendentes()" class="btn btn-floating" matTooltipPosition="above" matTooltip="Validar Pretendentes e Avançar">
        <fa-icon [icon]="['fas', 'caret-right']"></fa-icon>
      </button>
    </div>
  </div>
</div>

<app-modal-pretendente #modalPretendente (callbackListaPretendentes)="retornoListaPretendentes($event)"></app-modal-pretendente>
<app-modal-documentos #modalDocumentos (callbackListaPretendentes)="retornoListaPretendentes($event)"></app-modal-documentos>

<app-modal-json #json [rawJsons]="rawJson"></app-modal-json>
