fa-icon ::ng-deep [data-icon="file"] {
  color: #ffab00;
}

fa-icon ::ng-deep [data-icon="times"] {
  color: #e84c3d;
}

fa-icon ::ng-deep [data-icon="check"] {
  color: #15a186;
}

fa-icon ::ng-deep [data-icon="clock"] {
  color: #dabd01;
}
