.table {
  text-align: center;
}

.table td {
  vertical-align: middle;
}

.box {
  background: #f9f9f9;
  color: #0d5046;
  min-height: 60px;
  width: 100%;
}

.box label {
  color: #333;
  font-size: 12px;
}

.box span {
  font-size: 15px;
}

.valor-parcela {
  background: #0d5046;
  color: #fff !important;
}

.valor-parcela label {
  color: #fff !important;
}
