<div class="title">Cálculo <a (click)="json.openModal()" class="btn btn-flat"><fa-icon [icon]="['fas', 'code']"></fa-icon></a></div>
<hr style="margin-top: 0" />

<form>
  <div *ngIf="resumoProposta">
    <div class="row">
      <div class="col s12 campanha right-align">
        <div class="btn btn-floating" (click)="imprimirProposta()" matTooltipPosition="above" matTooltip="Imprimir Proposta">
          <fa-icon [icon]="['fas', 'file-contract']"></fa-icon>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m3 s6">
        <div class="box">
          <div class="center-align"><label>Pagamento</label></div>
          <div class="center-align">
            <span>{{ resumoProposta.pagamento.nomeFormaCobranca }}</span>
          </div>
        </div>
      </div>
      <div class="col m3 S6">
        <div class="box">
          <div class="center-align"><label>Parcelas</label></div>
          <div class="center-align">
            <span>{{ resumoProposta.pagamento.qtdParcela }}x R$ {{ resumoProposta.pagamento.valorParcela | currency: "BRL":"":"1.2-2":"pt" }} </span>
          </div>
        </div>
      </div>
      <div class="col m3 s6">
        <div class="box">
          <div class="center-align"><label>Juros</label></div>
          <div class="center-align">
            <span>{{ resumoProposta.pagamento.valorJuros }}</span>
          </div>
        </div>
      </div>
      <div class="col m3 s6">
        <div class="box valor-parcela">
          <div class="center-align"><label>TOTAL</label></div>
          <div class="center-align">
            <span>R$ {{ resumoProposta.pagamento.valorTotal | currency: "BRL":"":"1.2-2":"pt" }}</span>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div >
      <fieldset class="fieldset-border">
        <legend class="legend-border">Resumo</legend>
        <table class="striped highlight responsive-table">
          <thead>
            <tr>
              <th style="text-align: left;">Segurado</th>
              <th>CPF/CNPJ</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: left;">
                {{ resumoProposta.segurado.nome }}
              </td>
              <td>{{ resumoProposta.segurado.documento }}</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <table class="striped highlight responsive-table">
          <thead>
            <tr>
              <th style="text-align: left;">Garantidos</th>
              <th>CPF/CNPJ</th>
              <th>Pretendente Principal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let garantido of resumoProposta.garantidos">
              <td style="text-align: left;">{{ garantido.nome }}</td>
              <td>{{ garantido.documento }}</td>
              <td>{{ garantido.pretendentePrincipal }}</td>
            </tr>
          </tbody>
        </table>
      </fieldset>
    </div>
    <br/>
    <div class="row  right-align">
      <button (click)="contratar()" class="btn btn-default" [disabled]="contratado">
        <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon> Contratar
      </button>
    </div>
  </div>
</form>

<app-modal-json #json [rawJsons]="rawJson"></app-modal-json>
