<div class="container valign">
  <div class="row">
    <form class="col s12 offset-m3 m6" [formGroup]="loginForm" (ngSubmit)="logar()">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="corretor" id="corretor" class="form-control" formControlName="corretor"/>
          <label for="corretor"> Corretor: </label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="cpf" id="cpf" class="form-control" formControlName="cpfUsuario" mask="000.000.000-00"/>
          <label for="cpf"> CPF do Usuario: </label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="parceiro" id="parceiro" class="form-control" formControlName="parceiro"/>
          <label for="parceiro"> Parceiro (Opcional): </label>
        </div>
        <div class="input-field col s12">
          <input type="password" name="password" id="password" class="form-control" formControlName="senha"/>
          <label for="password"> Senha: </label>
        </div>
        <div class="right-align">
          <button type="submit" class="waves-effect waves-light btn" [disabled]=!loginForm.valid>
              <i class="material-icons right">keyboard_arrow_right</i>Log in
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
